
#sitemapHost {
    font-size: 12px;
    color:#333;
    background-color:#FFF;
    height: 100%;
}

#sitemapTreeContainer {
    /*margin: 0px 8px 0px 10px;*/
    position: absolute;
    overflow: auto;
    width: 100%;
    /*height: 100%;*/
    top: 31px;
    bottom: 0px;
}

.sitemapTree {
    /* list-style-type: none; */
    margin: 5px 0px 10px -9px;
    overflow:visible;
}

.sitemapTree ul {
    list-style-type: none;
    margin: 0px 0px 0px 0px;
    padding-left: 0px;
}

.sitemapPlusMinusLink 
{
}

.sitemapMinus 
{
	vertical-align:middle;
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/DA2KSR/86/06/09/8606090ad6d145ba81088762d78b91c9/plugins/sitemap/styles/images/minus.gif?token=1071e57d09fde169ead35cb77613b1f2');
    background-repeat: no-repeat;
	margin-right: 3px;	
	margin-bottom: 1px;
    height:9px;
    width:9px;
    display:inline-block;
}

.sitemapPlus 
{
	vertical-align:middle;
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/DA2KSR/86/06/09/8606090ad6d145ba81088762d78b91c9/plugins/sitemap/styles/images/plus.gif?token=362407b1eba3f19ac2cbfe5cb8646e99');
    background-repeat: no-repeat;
	margin-right: 3px;	
	margin-bottom: 1px;
	height:9px;
    width:9px;
    display:inline-block;
}

.sitemapPageLink 
{
    margin-left: 0px;
}

.sitemapPageIcon 
{
	margin-bottom:-3px;
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/DA2KSR/86/06/09/8606090ad6d145ba81088762d78b91c9/plugins/sitemap/styles/images/079_page_16.png?token=03b2fd0df8183afe8efb7170308fe7b8');
    background-repeat: no-repeat;
}

.sitemapFlowIcon
{
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/DA2KSR/86/06/09/8606090ad6d145ba81088762d78b91c9/plugins/sitemap/styles/images/086_case_16.png?token=fdac48fa9f2359018e91f8e647579f75');
}

.sitemapFolderIcon
{
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/DA2KSR/86/06/09/8606090ad6d145ba81088762d78b91c9/plugins/sitemap/styles/images/235_folderclosed_16.png?token=42fb29df1605672bfb92c6434074d0ee');
}

.sitemapFolderOpenIcon
{
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/DA2KSR/86/06/09/8606090ad6d145ba81088762d78b91c9/plugins/sitemap/styles/images/236_folderopen_16.png?token=c2c7d65a106418fe7340654b600dc2ef');
}

.sitemapPageName 
{
    margin-left: 3px;
}

.sitemapNode 
{
    margin:4px 0px 4px 0px;
    white-space:nowrap;
}

.sitemapPageLinkContainer {
    margin-left: 0px;
    padding-bottom: 1px;
}
/*
.sitemapNode div
{
	padding-top: 1px; 
	padding-bottom: 3px;
    padding-left: 20px;
	height: 14px;
}
*/

.sitemapExpandableNode 
{
	margin-left: 0px;
}

.sitemapHighlight 
{
	background-color : rgb(204,235,248);
    font-weight: bold;
}

.sitemapGreyedName
{
	color: #AAA;
}

#sitemapToolbar 
{
	margin: 5px 5px 5px 5px;
    height: 22px;
}

#sitemapToolbar .sitemapToolbarButton
{
    float: left;
    width: 22px;
    height: 22px;
    border: 1px solid transparent;
}

#sitemapToolbar .sitemapToolbarButton:hover
{
    border: 1px solid rgb(0,157,217);
    background-color : rgb(166,221,242);
}

#sitemapToolbar .sitemapToolbarButton:active
{
    border: 1px solid rgb(0,157,217);
    background-color : rgb(204,235,248);
}

#sitemapToolbar .sitemapToolbarButtonSelected {
    border: 1px solid rgb(0,157,217);
    background-color : rgb(204,235,248);    
}

#linksButton {
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/DA2KSR/86/06/09/8606090ad6d145ba81088762d78b91c9/plugins/sitemap/styles/images/233_hyperlink_16.png?token=a43f4356d092385d4f036c32fea103a6') no-repeat center center;
}

#adaptiveButton {
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/DA2KSR/86/06/09/8606090ad6d145ba81088762d78b91c9/plugins/sitemap/styles/images/225_responsive_16.png?token=0f69896f58f62d0f2e75629ccd36bbf0') no-repeat center center;
}

#footnotesButton {
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/DA2KSR/86/06/09/8606090ad6d145ba81088762d78b91c9/plugins/sitemap/styles/images/228_togglenotes_16.png?token=09ef2efd4340737efc9f865fb8c5f9cd') no-repeat center center;
}

#highlightInteractiveButton {
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/DA2KSR/86/06/09/8606090ad6d145ba81088762d78b91c9/plugins/sitemap/styles/images/231_event_16.png?token=747945bb23e4caa597af21544c18de2f') no-repeat center center;
}

#variablesButton {
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/DA2KSR/86/06/09/8606090ad6d145ba81088762d78b91c9/plugins/sitemap/styles/images/229_variables_16.png?token=030f1848696e6afce60a8fb47473c29d') no-repeat center center;
}

#searchButton {
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/DA2KSR/86/06/09/8606090ad6d145ba81088762d78b91c9/plugins/sitemap/styles/images/232_search_16.png?token=0ccca91e33d5fd5711f484a5cce22dff') no-repeat center center;
}

.sitemapLinkContainer
{
	margin-top: 8px;
	padding-right: 5px;
	font-size: 12px;
}

.sitemapLinkField 
{
	width: 100%;
	font-size: 12px;
	margin-top: 3px;
}

.sitemapOptionContainer
{
	margin-top: 8px;
	padding-right: 5px;
	font-size: 12px;
}

#sitemapOptionsDiv
{
	margin-top: 5px;
	margin-left: 16px;
}

#viewSelectDiv
{
	margin-left: 5px;
}

#viewSelect
{
	width: 70%;
}

.sitemapUrlOption
{
	padding-bottom: 5px;
}

.optionLabel
{
	font-size: 12px;
}

.sitemapPopupContainer
{
    display: none;
    position: absolute;
	background-color: #F4F4F4;
	border: 1px solid #B9B9B9;
	padding: 5px 5px 5px 5px;
	margin: 5px 0px 0px 5px;
    z-index: 1;
}

#adaptiveViewsContainer
{
	margin-left: 0px;
	padding: 0px;
}

.adaptiveViewOption
{
	padding: 2px;
}

.adaptiveViewOption:hover
{ 
	background-color: rgb(204,235,248);
	cursor: pointer;
}

.currentAdaptiveView {
    font-weight: bold;
}

.adaptiveCheckboxDiv {
	height: 15px;
	width: 15px;
	float: left;
}

.checkedAdaptive {
	background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/DA2KSR/86/06/09/8606090ad6d145ba81088762d78b91c9/plugins/sitemap/styles/images/adaptivecheck.png?token=ed2d359a17adf58639f4f59f69ab972c') no-repeat center center;
}

#variablesContainer 
{
	max-height: 350px;
	overflow: auto;
}

.variableName
{
	font-weight: bold;
}

.variableDiv
{
	margin-bottom: 10px;
}

#variablesClearLink 
{
	color: #069;
	left: 5px;
}

.searchBoxHint 
{
	color: #AAA;
	font-style: italic;
}

#sitemapLinksPageName
{
	font-weight: bold;
}

#sitemapOptionsHeader
{
	font-weight: bold;
}
#sitemapHost {
    font-size: 12px;
    color:#333;
    background-color:#FFF;
    height: 100%;
}

#sitemapTreeContainer {
    /*margin: 0px 8px 0px 10px;*/
    position: absolute;
    overflow: auto;
    width: 100%;
    /*height: 100%;*/
    top: 31px;
    bottom: 0px;
}

.sitemapTree {
    /* list-style-type: none; */
    margin: 5px 0px 10px -9px;
    overflow:visible;
}

.sitemapTree ul {
    list-style-type: none;
    margin: 0px 0px 0px 0px;
    padding-left: 0px;
}

.sitemapPlusMinusLink 
{
}

.sitemapMinus 
{
	vertical-align:middle;
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/DA2KSR/86/06/09/8606090ad6d145ba81088762d78b91c9/plugins/sitemap/styles/images/minus.gif?token=1071e57d09fde169ead35cb77613b1f2');
    background-repeat: no-repeat;
	margin-right: 3px;	
	margin-bottom: 1px;
    height:9px;
    width:9px;
    display:inline-block;
}

.sitemapPlus 
{
	vertical-align:middle;
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/DA2KSR/86/06/09/8606090ad6d145ba81088762d78b91c9/plugins/sitemap/styles/images/plus.gif?token=362407b1eba3f19ac2cbfe5cb8646e99');
    background-repeat: no-repeat;
	margin-right: 3px;	
	margin-bottom: 1px;
	height:9px;
    width:9px;
    display:inline-block;
}

.sitemapPageLink 
{
    margin-left: 0px;
}

.sitemapPageIcon 
{
	margin-bottom:-3px;
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/DA2KSR/86/06/09/8606090ad6d145ba81088762d78b91c9/plugins/sitemap/styles/images/079_page_16.png?token=03b2fd0df8183afe8efb7170308fe7b8');
    background-repeat: no-repeat;
}

.sitemapFlowIcon
{
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/DA2KSR/86/06/09/8606090ad6d145ba81088762d78b91c9/plugins/sitemap/styles/images/086_case_16.png?token=fdac48fa9f2359018e91f8e647579f75');
}

.sitemapFolderIcon
{
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/DA2KSR/86/06/09/8606090ad6d145ba81088762d78b91c9/plugins/sitemap/styles/images/235_folderclosed_16.png?token=42fb29df1605672bfb92c6434074d0ee');
}

.sitemapFolderOpenIcon
{
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/DA2KSR/86/06/09/8606090ad6d145ba81088762d78b91c9/plugins/sitemap/styles/images/236_folderopen_16.png?token=c2c7d65a106418fe7340654b600dc2ef');
}

.sitemapPageName 
{
    margin-left: 3px;
}

.sitemapNode 
{
    margin:4px 0px 4px 0px;
    white-space:nowrap;
}

.sitemapPageLinkContainer {
    margin-left: 0px;
    padding-bottom: 1px;
}
/*
.sitemapNode div
{
	padding-top: 1px; 
	padding-bottom: 3px;
    padding-left: 20px;
	height: 14px;
}
*/

.sitemapExpandableNode 
{
	margin-left: 0px;
}

.sitemapHighlight 
{
	background-color : rgb(204,235,248);
    font-weight: bold;
}

.sitemapGreyedName
{
	color: #AAA;
}

#sitemapToolbar 
{
	margin: 5px 5px 5px 5px;
    height: 22px;
}

#sitemapToolbar .sitemapToolbarButton
{
    float: left;
    width: 22px;
    height: 22px;
    border: 1px solid transparent;
}

#sitemapToolbar .sitemapToolbarButton:hover
{
    border: 1px solid rgb(0,157,217);
    background-color : rgb(166,221,242);
}

#sitemapToolbar .sitemapToolbarButton:active
{
    border: 1px solid rgb(0,157,217);
    background-color : rgb(204,235,248);
}

#sitemapToolbar .sitemapToolbarButtonSelected {
    border: 1px solid rgb(0,157,217);
    background-color : rgb(204,235,248);    
}

#linksButton {
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/DA2KSR/86/06/09/8606090ad6d145ba81088762d78b91c9/plugins/sitemap/styles/images/233_hyperlink_16.png?token=a43f4356d092385d4f036c32fea103a6') no-repeat center center;
}

#adaptiveButton {
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/DA2KSR/86/06/09/8606090ad6d145ba81088762d78b91c9/plugins/sitemap/styles/images/225_responsive_16.png?token=0f69896f58f62d0f2e75629ccd36bbf0') no-repeat center center;
}

#footnotesButton {
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/DA2KSR/86/06/09/8606090ad6d145ba81088762d78b91c9/plugins/sitemap/styles/images/228_togglenotes_16.png?token=09ef2efd4340737efc9f865fb8c5f9cd') no-repeat center center;
}

#highlightInteractiveButton {
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/DA2KSR/86/06/09/8606090ad6d145ba81088762d78b91c9/plugins/sitemap/styles/images/231_event_16.png?token=747945bb23e4caa597af21544c18de2f') no-repeat center center;
}

#variablesButton {
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/DA2KSR/86/06/09/8606090ad6d145ba81088762d78b91c9/plugins/sitemap/styles/images/229_variables_16.png?token=030f1848696e6afce60a8fb47473c29d') no-repeat center center;
}

#searchButton {
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/DA2KSR/86/06/09/8606090ad6d145ba81088762d78b91c9/plugins/sitemap/styles/images/232_search_16.png?token=0ccca91e33d5fd5711f484a5cce22dff') no-repeat center center;
}

.sitemapLinkContainer
{
	margin-top: 8px;
	padding-right: 5px;
	font-size: 12px;
}

.sitemapLinkField 
{
	width: 100%;
	font-size: 12px;
	margin-top: 3px;
}

.sitemapOptionContainer
{
	margin-top: 8px;
	padding-right: 5px;
	font-size: 12px;
}

#sitemapOptionsDiv
{
	margin-top: 5px;
	margin-left: 16px;
}

#viewSelectDiv
{
	margin-left: 5px;
}

#viewSelect
{
	width: 70%;
}

.sitemapUrlOption
{
	padding-bottom: 5px;
}

.optionLabel
{
	font-size: 12px;
}

.sitemapPopupContainer
{
    display: none;
    position: absolute;
	background-color: #F4F4F4;
	border: 1px solid #B9B9B9;
	padding: 5px 5px 5px 5px;
	margin: 5px 0px 0px 5px;
    z-index: 1;
}

#adaptiveViewsContainer
{
	margin-left: 0px;
	padding: 0px;
}

.adaptiveViewOption
{
	padding: 2px;
}

.adaptiveViewOption:hover
{ 
	background-color: rgb(204,235,248);
	cursor: pointer;
}

.currentAdaptiveView {
    font-weight: bold;
}

.adaptiveCheckboxDiv {
	height: 15px;
	width: 15px;
	float: left;
}

.checkedAdaptive {
	background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/DA2KSR/86/06/09/8606090ad6d145ba81088762d78b91c9/plugins/sitemap/styles/images/adaptivecheck.png?token=ed2d359a17adf58639f4f59f69ab972c') no-repeat center center;
}

#variablesContainer 
{
	max-height: 350px;
	overflow: auto;
}

.variableName
{
	font-weight: bold;
}

.variableDiv
{
	margin-bottom: 10px;
}

#variablesClearLink 
{
	color: #069;
	left: 5px;
}

.searchBoxHint 
{
	color: #AAA;
	font-style: italic;
}

#sitemapLinksPageName
{
	font-weight: bold;
}

#sitemapOptionsHeader
{
	font-weight: bold;
}
